@import url(https://fonts.googleapis.com/css?family=Quicksand:wght:@300;400;500;600;700&display=swap);

#root{
  background: #f9f9f9;
}

body {
  /*margin: 0;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
